fastapi
dotenv
motor
certifi
pydantic_settings
python-jose
httpx
passlib
pydantic[email]
python-multipart
pypdf
openai
python-dotenv
numpy
faiss-cpu
rank_bm25
pandas
requests
scikit-learn
uvicorn
langchain-core
langchain-community
langchain-openai
langchain-text-splitters
langgraph
bs4
